body {
    font-family: Arial, sans-serif;
    background: white;
    text-align: center;
    margin: 0;
    padding: 0;
    /* biar bg image rapih */
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#display {
    font-size: 60px;   
    font-weight: bold; 
    text-align: center;
    margin: 20px 0;
}

.container {
    background: transparent;
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 8px;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.jam-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.jam-bg {
    max-width: 200px;
    width: 50%;
    height: auto;
    opacity: 0.9;
}

#diplay {
    font-size: 100px;
    font-weight: bold;
    color: black;
    margin: 20px 0;
}

#edit label {
    margin: 0 10px;
    font-size: 16px;
}

#edit input{
    width: 70px;
    padding: 5px;
    text-align: center;
    font-size: 16px;

}

#edit button {
    display: block;
    margin: 10px auto;  
}


.buttons button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.buttons button:nth-child(1) {
    background: transparent;
}
.buttons button:nth-child(2) {
    background: transparent;
}
.buttons button:nth-child(3) {
    background: transparent;
}


.theme-container button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    background-color: transparent;
}